In [96]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import minmax_scale
from sklearn.preprocessing import OneHotEncoder  ##. better to use dummy from pandas 
from sklearn.preprocessing import PowerTransformer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
pd.options.display.max_rows = 50

In [97]:
Data = pd.read_csv('/Users/divi/Documents/GitHub/DSIronLab/Customer_Analysis_Case_Study/Data/Data_Marketing_Customer_Analysis_Round3.csv')
Data

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,central,4809,no,basic,college,2/18/11,feb,employed,m,48029,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,92260,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,east,14947,no,basic,bachelor,2/10/11,feb,employed,m,22139,...,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,23675,...,31,0,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,15563,no,premium,bachelor,1/19/11,jan,unemployed,f,61541,...,40,0,7,personal auto,personal l1,offer3,web,1214,luxury car,medsize
10685,north west,5259,no,basic,college,1/6/11,jan,employed,f,61146,...,68,0,6,personal auto,personal l3,offer2,branch,273,four-door car,medsize
10686,central,23893,no,extended,bachelor,2/6/11,feb,employed,f,39837,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize
10687,west region,11971,no,premium,college,2/13/11,feb,employed,f,64195,...,27,4,6,personal auto,personal l1,offer1,branch,618,suv,medsize
10688,central,6857,no,basic,bachelor,1/8/11,jan,unemployed,m,68942,...,1,0,3,personal auto,personal l1,offer4,web,1021,suv,medsize

In [98]:
Categorical = Data.select_dtypes(include=object)
Categorical

,region,response,coverage,education,effective_to_date,month,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,central,no,basic,college,2/18/11,feb,employed,m,suburban,married,corporate auto,corporate l3,offer3,agent,four-door car,medsize
1,west region,no,basic,college,1/18/11,jan,unemployed,f,suburban,single,personal auto,personal l3,offer4,call center,four-door car,medsize
2,east,no,basic,bachelor,2/10/11,feb,employed,m,suburban,single,personal auto,personal l3,offer3,call center,suv,medsize
3,north west,yes,extended,college,1/11/11,jan,employed,m,suburban,single,corporate auto,corporate l3,offer2,branch,four-door car,medsize
4,north west,no,premium,bachelor,1/17/11,jan,medical leave,f,suburban,married,personal auto,personal l2,offer1,branch,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,no,premium,bachelor,1/19/11,jan,unemployed,f,suburban,married,personal auto,personal l1,offer3,web,luxury car,medsize
10685,north west,no,basic,college,1/6/11,jan,employed,f,urban,married,personal auto,personal l3,offer2,branch,four-door car,medsize
10686,central,no,extended,bachelor,2/6/11,feb,employed,f,rural,married,corporate auto,corporate l3,offer1,web,luxury suv,medsize
10687,west region,no,premium,college,2/13/11,feb,employed,f,urban,divorced,personal auto,personal l1,offer1,branch,suv,medsize
10688,central,no,basic,bachelor,1/8/11,jan,unemployed,m,suburban,single,personal auto,personal l1,offer4,web,suv,medsize

In [99]:
dummy = pd.get_dummies(Categorical, drop_first=True)

In [100]:
Numerical = Data.select_dtypes(np.number)
Numerical

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,4809,48029,61,7,52,0,9,292
1,2228,92260,64,3,26,0,1,744
2,14947,22139,100,34,31,0,2,480
3,22332,49078,97,10,3,0,2,484
4,9025,23675,117,33,31,0,7,707
...,...,...,...,...,...,...,...,...
10684,15563,61541,253,12,40,0,7,1214
10685,5259,61146,65,7,68,0,6,273
10686,23893,39837,201,11,63,0,2,381
10687,11971,64195,158,0,27,4,6,618
10688,6857,68942,101,31,1,0,3,1021

#### Concatenating numerical and categorical and then splitting as u and v

In [101]:
New_df = pd.concat([dummy, Numerical], axis=1)

### Performing Test-train split

In [102]:
X=New_df.drop('total_claim_amount', axis=1)
y=New_df.total_claim_amount

In [103]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=.30,random_state=42)#returns 4 variables, Y is the target variable and the rest independent columns as X

#### standardising the train set and then transforming it

In [104]:
std_scaler=StandardScaler().fit(X_train)   ##. finding the parameters ( mean, variance from the training set )

X_train_scaled=std_scaler.transform(X_train)

In [105]:
x_train.shape

(7482,)

##### standardizing the test set

In [106]:
X_test_scaled=std_scaler.transform(X_test)

#### printing the train and test test that has been scaled

In [107]:
print(X_train_scaled)
print("--------")
print(X_test_scaled)

[[-0.3050584  -0.62237768 -0.73429522 ...  1.49683921  0.68183709
  -0.41232904]
 [-0.3050584  -0.62237768 -0.73429522 ... -0.5121996  -0.41999987
  -0.82917079]
 [-0.3050584   1.60674142 -0.73429522 ...  1.71209337 -0.41999987
  -0.82917079]
 ...
 [-0.3050584  -0.62237768  1.36185008 ... -1.44496762  3.98734797
   2.08872151]
 [-0.3050584   1.60674142 -0.73429522 ...  1.49683921 -0.41999987
  -0.41232904]
 [-0.3050584  -0.62237768 -0.73429522 ...  0.20531426 -0.41999987
   1.67187975]]
--------
[[-0.3050584  -0.62237768 -0.73429522 ...  1.06633089 -0.41999987
   0.83819624]
 [-0.3050584  -0.62237768 -0.73429522 ...  1.06633089 -0.41999987
   0.00451272]
 [-0.3050584  -0.62237768  1.36185008 ... -0.11756698 -0.41999987
  -0.82917079]
 ...
 [-0.3050584  -0.62237768 -0.73429522 ...  0.27706565 -0.41999987
  -0.82917079]
 [-0.3050584  -0.62237768  1.36185008 ...  0.06181149  0.68183709
  -0.82917079]
 [-0.3050584   1.60674142 -0.73429522 ... -0.76332945 -0.41999987
  -0.41232904]]

#### Applying Linear Regression to

In [108]:
# Train set
X_train_const_scaled = sm.add_constant(X_train_scaled) # states that we are fitting to the model y=mx+b rather than y=mx.
model = sm.OLS(y_train, X_train_const_scaled).fit() # creating a linear regression model y=mx+b, and fitting it to the train data.
predictions_train = model.predict(X_train_const_scaled)

In [109]:
# Test set
X_test_const_scaled = sm.add_constant(X_test_scaled) # adding a constant
predictions_test = model.predict(X_test_const_scaled)

###### Printing model summary:

In [110]:
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.768
Model:                            OLS   Adj. R-squared:                  0.765
Method:                 Least Squares   F-statistic:                     232.9
Date:                Thu, 10 Nov 2022   Prob (F-statistic):               0.00
Time:                        17:08:49   Log-Likelihood:                -47672.
No. Observations:                7482   AIC:                         9.556e+04
Df Residuals:                    7376   BIC:                         9.629e+04
Df Model:                         105
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        433.3067      1.648    262.922      0.000     430.076     436.537
x1             0.6621      1.809      0.366      0.714      -2.885       4.209
x2            -1.3222      1.981     -0.667      0.505      -5.206       2.562
x3             1.5534      1.998      0.777      0.437      -2.364       5.471
x4            -7.8210      1.814     -4.311      0.000     -11.377      -4.265
x5            -6.1448      2.131     -2.883      0.004     -10.323      -1.967
x6            -3.5610      2.542     -1.401      0.161      -8.545       1.423
x7            -3.6523      1.966     -1.858      0.063      -7.506       0.202
x8            -2.6545      1.739     -1.526      0.127      -6.064       0.755
x9             4.8128      1.975      2.436      0.015       0.940       8.685
x10           -2.8782      1.814     -1.586      0.113      -6.435       0.678
x11            0.9607      2.643      0.364      0.716      -4.220       6.141
x12           -0.1286      2.460     -0.052      0.958      -4.951       4.694
x13           -0.2683      2.295     -0.117      0.907      -4.767       4.230
x14            2.6739      2.382      1.123      0.262      -1.995       7.343
x15           -0.6807      2.438     -0.279      0.780      -5.461       4.099
x16            0.5374      2.400      0.224      0.823      -4.167       5.242
x17           -1.7155      2.413     -0.711      0.477      -6.447       3.015
x18           -0.7113      2.542     -0.280      0.780      -5.695       4.273
x19            0.4539      2.386      0.190      0.849      -4.224       5.132
x20           -0.9901      2.493     -0.397      0.691      -5.878       3.898
x21            3.8594      2.407      1.603      0.109      -0.859       8.578
x22            3.8308      2.464      1.554      0.120      -1.000       8.662
x23           -0.1745      2.462     -0.071      0.943      -5.001       4.652
x24            0.6551      2.360      0.278      0.781      -3.971       5.281
x25           -1.8258      2.403     -0.760      0.447      -6.537       2.886
x26           -3.0210      2.449     -1.234      0.217      -7.821       1.779
x27            1.8415      2.425      0.759      0.448      -2.912       6.595
x28            4.0092      2.538      1.579      0.114      -0.967       8.985
x29            4.1425      2.631      1.575      0.115      -1.014       9.299
x30            1.4667      2.470      0.594      0.553      -3.375       6.308
x31            3.2266      2.416      1.335      0.182      -1.510       7.963
x32            1.9496      2.535      0.769      0.442      -3.020       6.920
x33           -2.5813      2.361     -1.093      0.274      -7.210       2.047
x34            0.8149      2.488      0.327      0.743      -4.063       5.693
x35           -0.5670      2.243     -0.253      0.800      -4.964       3.830
x36            1.4840      2.472      0.600      0.548      -3.361       6.329
x37            2.4979      2.382      1.049      0.294      -2.171       7.166
x38           -1.9879      2.381     -0.835      0.404      -6.655       2.680
x39           -0.5876      2.470     -0.238      0.812      -5.430       4.255
x40           -3.0019      2.480     -1.210      0.226      -7.864       1.860
x41            0.2801      1.734      0.162      0.872      -3.119       3.679
x42            0.9195      1.739      0.529      0.597      -2.489       4.328
x43           -1.4888      1.740     -0.856      0.392      -4.900       1.922
x44           -1.9691      1.735     -1.135      0.257      -5.371       1.433
x45            2.9876      1.720      1.737      0.082      -0.383       6.358
x46           -1.5791      1.748     -0.903      0.366      -5.006       1.848
x47            0.2115      1.725      0.123      0.902      -3.170       3.593
x48            0.3862      1.727      0.224      0.823      -2.999       3.771
x49            1.9992      1.725      1.159      0.246      -1.381       5.380
x50            0.1956      1.737      0.113      0.910      -3.210       3.601
x51            0.4355      1.747      0.249      0.803      -2.990       3.861
x52            2.9746      1.729      1.720      0.085      -0.415       6.364
x53            2.8268      1.723      1.641      0.101      -0.551       6.204
x54            0.2736      1.729      0.158      0.874      -3.117       3.664
x55            3.4817      1.746      1.995      0.046       0.060       6.904
x56           -1.4641      1.732     -0.846      0.398      -4.859       1.930
x57           -2.4717      1.728     -1.431      0.153      -5.858       0.915
x58           -1.1262      1.731     -0.651      0.515      -4.519       2.267
x59           -1.6236      1.742     -0.932      0.351      -5.039       1.792
x60            0.8173      1.736      0.471      0.638      -2.586       4.221
x61           -2.8968      1.740     -1.665      0.096      -6.308       0.514
x62           -1.2292      1.740     -0.707      0.480      -4.640       2.181
x63            4.6909      1.743      2.691      0.007       1.273       8.109
x64            0.0863      1.727      0.050      0.960      -3.298       3.471
x65           -0.1461      1.730     -0.084      0.933      -3.536       3.244
x66            0.1020      1.732      0.059      0.953      -3.293       3.497
x67           -0.0250      1.721     -0.015      0.988      -3.399       3.349
x68           -1.9430      1.741     -1.116      0.264      -5.355       1.469
x69           -1.0759      4.570     -0.235      0.814     -10.034       7.883
x70           -8.1202      4.215     -1.927      0.054     -16.383       0.142
x71            2.9183      2.312      1.262      0.207      -1.613       7.450
x72           -3.7857      2.164     -1.749      0.080      -8.028       0.457
x73           31.5619      4.027      7.839      0.000      23.669      39.455
x74            6.5024      1.679      3.873      0.000       3.211       9.794
x75          184.1153      2.314     79.583      0.000     179.580     188.650
x76           84.9122      2.070     41.015      0.000      80.854      88.971
x77           -0.4450      2.448     -0.182      0.856      -5.243       4.353
x78           31.0409      2.531     12.266      0.000      26.080      36.002
x79            0.0170      2.737      0.006      0.995      -5.348       5.382
x80            0.3868      1.171      0.330      0.741      -1.909       2.682
x81           -1.1999      2.586     -0.464      0.643      -6.269       3.869
x82            1.0990      3.058      0.359      0.719      -4.896       7.094
x83            1.7009      1.555      1.094      0.274      -1.347       4.749
x84           -0.3848      1.516     -0.254      0.800      -3.357       2.588
x85           -0.8627      1.487     -0.580      0.562      -3.778       2.052
x86            3.4892      1.577      2.213      0.027       0.399       6.580
x87           -1.2569      1.457     -0.863      0.388      -4.113       1.599
x88           -0.4502      1.476     -0.305      0.760      -3.343       2.443
x89            7.7556      1.948      3.981      0.000       3.937      11.574
x90            4.0029      1.842      2.173      0.030       0.392       7.613
x91            2.3146      1.865      1.241      0.215      -1.341       5.970
x92           -1.8188      1.871     -0.972      0.331      -5.487       1.849
x93           -0.8003      1.867     -0.429      0.668      -4.459       2.859
x94           -0.3878      1.847     -0.210      0.834      -4.008       3.233
x95           -0.0261      2.798     -0.009      0.993      -5.511       5.459
x96           -3.4255      2.967     -1.154      0.248      -9.242       2.391
x97           -6.5121      2.121     -3.070      0.002     -10.670      -2.354
x98           -7.4751      2.800     -2.670      0.008     -12.963      -1.987
x99           -0.7964      1.759     -0.453      0.651      -4.245       2.652
x100          -3.1346      2.520     -1.244      0.213      -8.074       1.804
x101          -0.5085      2.538     -0.200      0.841      -5.483       4.466
x102           1.2986      1.832      0.709      0.479      -2.293       4.891
x103          -5.1516      1.913     -2.694      0.007      -8.901      -1.402
x104         182.3253      4.766     38.256      0.000     172.983     191.668
x105           3.2061      1.665      1.925      0.054      -0.059       6.471
x106          -1.3225      1.684     -0.785      0.432      -4.624       1.979
x107          -0.7247      1.665     -0.435      0.663      -3.988       2.539
x108           2.0542      1.679      1.223      0.221      -1.237       5.345
==============================================================================
Omnibus:                     3487.818   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            46944.580
Skew:                           1.882   Prob(JB):                         0.00
Kurtosis:                      14.680   Cond. No.                     3.94e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.41e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [111]:
print(model.rsquared_adj)

0.7649956529531782

In [112]:
print(model.rsquared)

0.768294069801182