## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [118]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [119]:
# Your code here
sample_list_1= random.sample(range(100), 80)
print(sample_list_1)
len(sample_list_1)

[59, 22, 46, 38, 9, 80, 86, 71, 95, 93, 85, 90, 62, 65, 97, 84, 35, 19, 39, 37, 88, 70, 41, 51, 10, 81, 61, 91, 0, 56, 40, 20, 66, 68, 69, 54, 55, 99, 94, 72, 12, 32, 13, 82, 7, 57, 33, 45, 42, 49, 53, 89, 3, 48, 50, 63, 14, 28, 31, 87, 6, 1, 36, 11, 75, 5, 67, 74, 64, 2, 15, 27, 60, 4, 44, 43, 52, 79, 16, 26]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [120]:
# Your code here
set1=set(sample_list_1)

In [121]:
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [122]:
# Your code here
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,100))
print('Randomised list is: ',a)
len(a)

Enter number of elements:80
Randomised list is:  [59, 93, 52, 35, 99, 78, 37, 59, 9, 29, 20, 56, 27, 45, 50, 78, 2, 10, 66, 67, 58, 93, 5, 100, 5, 37, 11, 18, 36, 51, 66, 13, 75, 44, 17, 59, 21, 38, 12, 70, 61, 12, 17, 87, 58, 67, 26, 24, 78, 67, 29, 59, 96, 20, 66, 15, 16, 29, 81, 8, 38, 10, 99, 26, 48, 81, 92, 99, 18, 39, 84, 54, 39, 78, 47, 56, 62, 80, 44, 91]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [123]:
# Your code here
set2=set(a)
a
len(set2)

51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [124]:
# Your code here
set3 = set1 - set2
set3

{0,
 1,
 3,
 4,
 6,
 7,
 14,
 19,
 22,
 28,
 31,
 32,
 33,
 40,
 41,
 42,
 43,
 46,
 49,
 53,
 55,
 57,
 60,
 63,
 64,
 65,
 68,
 69,
 71,
 72,
 74,
 79,
 82,
 85,
 86,
 88,
 89,
 90,
 94,
 95,
 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [125]:
# Your code here
set4 = set2 - set1
set4

{8, 17, 18, 21, 24, 29, 47, 58, 78, 92, 96, 100}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [126]:
# Your code here
set5 = set1.intersection(set2)
set5

{2,
 5,
 9,
 10,
 11,
 12,
 13,
 15,
 16,
 20,
 26,
 27,
 35,
 36,
 37,
 38,
 39,
 44,
 45,
 48,
 50,
 51,
 52,
 54,
 56,
 59,
 61,
 62,
 66,
 67,
 70,
 75,
 80,
 81,
 84,
 87,
 91,
 93,
 99}

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [127]:
# Your code here
len(set1)

80

In [128]:
len(set2)

51

In [129]:
len(set3)

41

In [130]:
len(set4)

12

In [131]:
len(set5)

39

#### Create an empty set called `set6`.

In [132]:
# Your code here
set6 = []
set6= set(set6)
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [133]:
# Your code here
set6.update(set3, set5)
set6

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 19,
 20,
 22,
 26,
 27,
 28,
 31,
 32,
 33,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 74,
 75,
 79,
 80,
 81,
 82,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 93,
 94,
 95,
 97,
 99}

#### Check if `set1` and `set6` are equal.

In [134]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [135]:
# Your code here
z = set1.issubset(set3)
z

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [136]:
# Your code here
agg_set1 = set3.union(set4, set5)
print('agg_set1 =', set3.union(set4, set5))

agg_set1 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 29, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}

In [137]:
agg_set2 = set1.union(set2)
print('agg_set2 =', set1.union(set2))

agg_set2 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 29, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}

In [138]:
agg_set1 == agg_set2

True

#### Using the `pop` method, remove an element from `set1`.

In [139]:
set1

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 19,
 20,
 22,
 26,
 27,
 28,
 31,
 32,
 33,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 74,
 75,
 79,
 80,
 81,
 82,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 93,
 94,
 95,
 97,
 99}

In [140]:
len(set1)

80

In [141]:
# Your code here

pop_set = set1.pop()
print(pop_set)
print(set1)
len(set1)

0
{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 19, 20, 22, 26, 27, 28, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 97, 99}

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [144]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_rmv = set(list_to_remove)  
new_set = set1 - set_to_rmv
new_set

{2,
 3,
 4,
 5,
 6,
 7,
 10,
 12,
 13,
 14,
 15,
 16,
 20,
 22,
 26,
 27,
 28,
 32,
 33,
 35,
 36,
 37,
 38,
 40,
 42,
 43,
 44,
 45,
 46,
 48,
 50,
 52,
 53,
 54,
 55,
 56,
 57,
 60,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 70,
 72,
 74,
 75,
 80,
 82,
 84,
 85,
 86,
 87,
 88,
 90,
 93,
 94,
 95,
 97}